# Xcode
.DS_Store
build/
DerivedData/
xcuserdata/
*.xcodeproj/
!*.xcodeproj/project.pbxproj
*.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata

# Swift Package Manager
.build/

# CocoaPods
Pods/
*.xcconfig
Podfile.lock
Pods\_*
Pods\_*/**/*.xcconfig

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots

# Test Reports
*.xml

# Other
*.log
*.swp
